body{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*min-width: 800px;*/
}

.row{
    display: flex;
    flex-direction: row;
}

.tile{
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    margin: 2px;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    color: darkgray;
}

.tile:hover{
    margin: 0;
    height: 54px;
    width: 54px;
    border-radius: 5px;
    color: white;
    border-color: white;
}

.arrow{
    margin: 0 !important;
    height: 54px !important;
    width: 54px !important;
    border-radius: 5px !important;
    color: white !important;
    border-color: white !important;
}

.nohover:hover{
    height: 50px;
    width: 50px;
    margin: 2px;
    color: darkgray;
    border: 1px solid black;
    transition-delay: 0.1s;
    border-radius: 0;
}

.contrast{
    background-color: lightblue;
    color: cornflowerblue;
}

#app{
    margin: 0 auto;
    width: fit-content;
}

.wrong {
    background-color: lightcoral;
    border: 1px solid red;
    color: red;
    transition-delay: 0.5s;
    transition-duration: 1s;

}

.error{
    background-color: lightcoral;
    border: 1px solid red;
    color: red;
    transition-delay: 0.5s;
    transition-duration: 1s;
}

#difficulty{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-self: center;
    align-self: center;
}

.options * *{
    margin: 5px;
    text-align: center;
}

button{
    width: 100%;
}

.correct{
    background-color: rgb(151, 244, 148);
    color: #1d231d;
}

.incorrect{
    background-color: lightcoral;
    color: #3a2626;
}

.win{
    background-color: lightcoral;
    border: 2px solid red;
    border-radius: 5px;
    display: block;
    width: 500px;
    height: 350px;
    z-index: 0;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 250px);
    text-align: center;
    font-size: 70px;
    line-height: 175px;
    animation: blink 0.2s infinite;
}

button{
    background-color: white;
    border: 2px solid lightgray;
    opacity: 80%;
    border-radius: 15px;
    transition-duration: 0.5s;
    padding: 5px;
}

button:hover{
    border: 2px solid darkgray;
}

@media only screen and (max-width: 850px) {
    body{
        flex-direction: column;
    }
    .tile{
        width: 5vw;
        height: 5vw;
        font-size: 5vw;
        line-height: 5vw;
    }
    .tile:hover{
        width: 5vw;
        height: 5vw;
        margin: 2px;
    }
}

@keyframes blink{
    0%{
        color: white;
    }
    50%{
    color: white;
    }
    51%{
        color: black;
    }
    100%{
        color: black;
    }
}