body{
    background-color: rgb(240, 240, 240);
}

.row{
    display: flex;
    flex-direction: row;
}

.tile{
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    margin: 2px;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    color: darkgray;
}

.tile:hover{
    margin: 0;
    height: 54px;
    width: 54px;
    border-radius: 5px;
    color: white;
    border-color: white;
}

.arrow{
    margin: 0 !important;
    height: 54px !important;
    width: 54px !important;
    border-radius: 5px !important;
    color: white !important;
    border-color: white !important;
}

.nohover:hover{
    height: 50px;
    width: 50px;
    margin: 2px;
    color: darkgray;
    border: 1px solid black;
    transition-delay: 0.1s;
    border-radius: 0;
}

.contrast{
    background-color: lightblue;
    color: cornflowerblue;
}

#app{
    margin: 0 auto;
    width: fit-content;
}

.wrong {
    background-color: lightcoral;
    border: 1px solid red;
    color: red;
    transition-duration: 1s;

}

.error{
    background-color: lightcoral;
    border: 1px solid red;
    color: red;
    transition-duration: 1s;

}